@font-face{
  font-family: 'Noto_Sans';
  src: url('./Noto_Sans/NotoSans-Regular.ttf');
}

html,
body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto_Sans';
  
}

.searchimg{
  
  transform: scale(2);
  position: relative;
  top:390px;
  left:-10vw;
  overflow: hidden;
  align-content: space-around

}


#search[placeholder]{
  color: #5c5fcf;
  padding-left: 80px;
  font-size: 16px;

}
#search:focus{
  outline: none;
  border: #5c5fcf;
}


.form input[placeholder]{
  color: #4f53b9;
  padding-left: 80px;
  font-size: 16px;
  
}
.form input:focus{
  outline: none;
  border: #5c5fcf;
}
.footer{
  display:"flex";
   justify-content: flex-end;
}
.navfoot{
  color: #3C40C6;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.footer{
  color:"#575fcf"
}

.blockimg{
 background-image: url(./images/adv.jpg);
 width: 20vw;
}
